# Cleaning Data

## Replacing missing values

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Quick Summary

- titanic.Age.mean()
- mean = round(titanic.Age.mean(),1)
----
- titanic.Age.fillna(mean, inplace=True)

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Titanic Dataset

In [4]:
import pandas as pd

In [5]:
titanic = pd.read_csv("titanic_imp2.csv")

In [6]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 894 entries, 0 to 893
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  894 non-null    object
 1   Class     894 non-null    int64
 2   Gender    894 non-null    object
 3   Age       758 non-null    object
 4   SipSp     894 non-null    int64
 5   ParCH     894 non-null    int64
 6   Fare      894 non-null    object
 7   Emb       892 non-null    object
 8   Deck      203 non-null    object
dtypes: int64(3), object(6)
memory usage: 63.0+ KB

In [7]:
titanic[titanic.Emb.isna()]

    Survived  Class  Gender   Age  SipSp  ParCH   Fare  Emb Deck
61         1      1  female  38.0      0      0  $80.0  NaN    B
829        1      1  female  62.0      0      0  $80.0  NaN    B

In [8]:
import numpy as np

In [9]:
titanic.Age.replace(to_replace = "Missing Data", value = np.nan, inplace = True)

In [10]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 894 entries, 0 to 893
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  894 non-null    object
 1   Class     894 non-null    int64
 2   Gender    894 non-null    object
 3   Age       717 non-null    object
 4   SipSp     894 non-null    int64
 5   ParCH     894 non-null    int64
 6   Fare      894 non-null    object
 7   Emb       892 non-null    object
 8   Deck      203 non-null    object
dtypes: int64(3), object(6)
memory usage: 63.0+ KB

In [11]:
titanic.Age = titanic.Age.astype("float")

In [12]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 894 entries, 0 to 893
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  894 non-null    object
 1   Class     894 non-null    int64
 2   Gender    894 non-null    object
 3   Age       717 non-null    float64
 4   SipSp     894 non-null    int64
 5   ParCH     894 non-null    int64
 6   Fare      894 non-null    object
 7   Emb       892 non-null    object
 8   Deck      203 non-null    object
dtypes: float64(1), int64(3), object(5)
memory usage: 63.0+ KB

In [80]:
titanic.Age.value_counts(dropna = False)

NaN             136
Missing Data     41
24.0             31
22.0             27
18.0             26
               ...
80.0              1
70.5              1
34.5              1
53.0              1
102               1
Name: Age, Length: 93, dtype: int64

In [14]:
titanic.Age.mean()

30.718507670850766

In [15]:
mean = round(titanic.Age.mean(),1)
mean

30.7

In [17]:
titanic.Age.isna().sum()

177

In [18]:
titanic.Age.fillna(mean, inplace=True)

In [19]:
titanic.Age.isna().sum()

0

In [20]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 894 entries, 0 to 893
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  894 non-null    object
 1   Class     894 non-null    int64
 2   Gender    894 non-null    object
 3   Age       894 non-null    float64
 4   SipSp     894 non-null    int64
 5   ParCH     894 non-null    int64
 6   Fare      894 non-null    object
 7   Emb       892 non-null    object
 8   Deck      203 non-null    object
dtypes: float64(1), int64(3), object(5)
memory usage: 63.0+ KB

In [23]:
titanic.Age.shape

(894,)