# Cleaning Data

# Intro Duplicates

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Quick Summary
## What are major import topics features?

- alphabet.duplicated(keep = False) # all duplicates are TRUE
- alphabet[alphabet.duplicated(keep = "first")] # Mark duplicates as ``True`` except for the first occurrence.
- alphabet[alphabet.duplicated(keep = "last")] # Mark duplicates as ``True`` except for the last occurrence.

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Detection of Duplicates

In [3]:
import pandas as pd

In [4]:
alphabet = pd.DataFrame(["a","b","c","c","d","e","f","g","g","g"], columns = ["Alphabet"])

In [5]:
alphabet

  Alphabet
0        a
1        b
2        c
3        c
4        d
5        e
6        f
7        g
8        g
9        g

In [7]:
alphabet.duplicated(keep = False) # boolean series

0    False
1    False
2     True
3     True
4    False
5    False
6    False
7     True
8     True
9     True
dtype: bool

In [11]:
alphabet[alphabet.duplicated(keep = "first")]  # Mark duplicates as ``True`` except for the first occurrence.

  Alphabet
3        c
8        g
9        g

In [12]:
alphabet[alphabet.duplicated(keep = "last")] # Mark duplicates as ``True`` except for the last occurrence.

  Alphabet
2        c
7        g
8        g